<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/bulma.css">
    <title>Cantina - Installateur</title>
</head>
<body>
    <div id="header">
        <h1 class="title columns is-centered is-vcentered is-size-1" style="text-decoration: underline; padding-top: 1em;">Cantina - Installateur</h1><br>
    </div>
    <div id="form" class="columns is-centered is-vcentered">
        <form action="#" method="post">
            <button class="button is-primary" type="submit">Étape suivante!</button>
        </form>
    </div>
</body>
</html>