<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/bulma.css">
    <title>Cantina - Installateur</title>
</head>
<body class="has-text-centered">
    <div id="header">
        <h1 class="title columns is-centered is-vcentered is-size-1" style="text-decoration: underline; padding-top: 1em;">Cantina - Installateur</h1><br>
    </div>
    <div id="form" class="columns is-centered is-vcentered">
        <form action="#" method="post">
            <h3 class="is-size-3">Voulez vous installer Néphélées :</h3>
            <div class="nephelees-choice is-size-4">
                <label class="radio">
                    <input type="radio" name="nephelees"> Yes
                </label>
                <label class="radio">
                    <input type="radio" name="nephelees"> No
                </label>
            </div>
            <h3 class="is-size-3">Voulez vous installer Hermes :</h3>
            <div class="hermes-choice is-size-4">
                <label class="radio">
                    <input type="radio" name="hermes"> Yes
                </label>
                <label class="radio">
                    <input type="radio" name="hermes"> No
                </label>
            </div>
            <br>
            <button class="button is-primary" type="submit">Étape suivante!</button>
        </form>
    </div>
</body>
</html>